<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css') }} ">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css') }}">
    <title>Contato</title>
</head>
<body>
    <header class="cabeçalho">
        <img src="{{url_for('static',filename='img/logo.png')}}" class="header_img">
        <ul class="header_links">
            <li class="link_lista">
                <a href="/">Home</a>
                
            </li>
            <li class="link_lista link_meio">
                <a href="/quemSomos">Quem somos</a>
                
            </li>
            <li class="link_lista">
                <a href="/contatos">Contato</a>
                
            </li>
        </ul>
    </header>
    <main>
        <h1 class="titulo_principal">Entre em contato</h1>
        <p class="texto_lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quisquam maxime tempora doloribus, voluptatem deleniti? Aliquam itaque unde ad! Blanditiis similique, ullam doloremque itaque officia eos. Porro voluptates perferendis voluptate.</p>
        <hr>
        <ul>
            <li class="input_container">
                <label for="input_email"> Seu Email</label>
                <input type="email" id="input_email" placeholder="Digite seu email">
            </li>
            <li class="input_container">
                <label for="input_assunto">Assunto</label>
                <input type="text" id="input_assunto" placeholder="Assunto do email">
            </li>
            <li class="input_container">
                <label for="input_descrição">Descrição</label>
                <input type="text" id="input_descrição" placeholder="Descreva sobre">
            </li>
        </ul>
        <button>Enviar</button>
    </main>
    <footer>
        <h2 class="titulo_footer">Todos os direitos reservados</h2>
    </footer>
    
</body>
</html>