<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css') }} ">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css') }}">
    <title>Quem Somos</title>
</head>
<body>
    <header class="cabeçalho">
        <img src="{{url_for('static',filename='img/logo.png')}}" class="header_img">
        <ul class="header_links">
            <li class="link_lista">
                <a href="/">Home</a>
                
            </li>
            <li class="link_lista link_meio">
                <a href="/quemSomos">Quem somos</a>
                
            </li>
            <li class="link_lista">
                <a href="/contatos">Contato</a>
                
            </li>
        </ul>
    </header>
    <main>
        <h1 class="titulo_principal">Quem Somos</h1>
        <p class="texto_lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, expedita, ipsam dolores qui, tenetur odio eius aliquam ipsa quod nesciunt eum? Commodi itaque dolore et nisi iure asperiores quas ut?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet in error natus ea aut! Ex incidunt adipisci culpa atque, accusantium saepe, perspiciatis optio quo eaque eos tempora animi quisquam maiores?</p>
        <h1 class="titulo_principal">5 motivos para estudar</h1>
        <ul class="lista_beneficios">
            <li>1. Material sempre atualizado</li>
            <li>2. Tablets em sala de aula</li>
            <li>3. Professores renomados</li>
            <li>4. Universidade bem avaliada</li>
            <li>5. Ótima localização</li>
        </ul>
        <hr>
        <h1 class="titulo_principal">Objetivos</h1>
        <p class="texto_lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolorum suscipit ipsum corrupti laudantium omnis. Culpa eaque debitis vel. Nihil doloremque ducimus ab asperiores eligendi est, animi earum repellat itaqu Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi eaque, laboriosam fuga, ducimus quidem delectus sint praesentium maxime deserunt voluptatibus ad accusamus commodi. Ea quia minus doloremque repudiandae voluptatem mollitia?</p>

    </main>
    <footer>
        <h2 class="titulo_footer">Todos os direitos reservados</h2>
    </footer>
    
</body>
</html>